body {
  font-family: Chivo;
  color: #404040;
  font-size: 18px;
  margin: 0;
}

p {
  font-family: Overpass;
}

/* banner */
#banner {
  background-image: url('imagens/background.jpg'); /* ../ for 1 dir up */
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
  animation-name: fade;
  animation-duration: 1s;
}

#banner h1 {
  font-size: 45px;
  margin: 0;
}

#banner p {
  font-size: 24px;
  opacity: 0.7;
}

/* button */
.btn-blue {
  background-color: #1a48e3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #0d1ec6;
  transform: scale(1.05);
}
/* container */
.container {
  width: 900px;
  margin: 60px auto;
}

/* cards */
.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
  font-size: 15px;
}

.card-white:hover {
  transform: scale(1.05);
}

.card-white img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

/* footer */
#footer {
  background: #404040;
  color: white;
  padding: 10px 0px;
  text-align: center;
  margin: 0 center;
}

/* responsivity */
@media (min-width: 300px) {
  .container {
    width: 400px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  .container {
    width: 600px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .typewriter {
    animation: animated-text 4s steps(31, end);
    animation-iteration-count: infinite;
    display: inline-block;
    white-space: nowrap;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
  }
}

/* animation for typewriter */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
